# IDE Generated
.idea/
.vscode/
.metals/
.scalafmt.conf

# Project Generated
target/
test_run_dir/
build/
log

# Package
*.jar
*.war
*.ear

# Verilog and FIRRTL
*.v
*.sv
*.fir

# Javascript generate by chisel
*.anno.json
