# IDE Generated
.idea/
.vscode/
.metals/
.bloop/
metals.sbt
.scalafmt.conf

# Project Generated
target/
test_run_dir/
build/
toolchain/
log

# Package
*.jar
*.war
*.ear

# FIRRTL
*.fir
*.vcd

# Javascript generate by chisel
*.anno.json
