# IDE Generated
.idea/
.vscode/
.metals/
.bloop/
metals.sbt
.scalafmt.conf

# Project Generated
target/
test_run_dir/
build/
test_elf/
toolchain/
log*

# Package
*.jar
*.war
*.ear

# Vivado
zjv-fpga-acc/

# FIRRTL
*.fir
*.vcd

# Javascript generate by chisel
*.anno.json

# LICENSE
src/main/verilator/vsrc/S011HD*
